<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 10px; height: 100%; }

  /* .sortable2 { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .sortable2 li { margin: 0 3px 3px 3px; padding: 0.4em; height: 100%; }

  #sortable3 { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #sortable3 li { margin: 0 3px 3px 3px; padding: 0.4em; height: 100%; } */

  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".sortable" ).sortable();
    $( ".sortable" ).disableSelection();
    // $( ".sortable2" ).sortable();
    // $( ".sortable2" ).disableSelection();  
    // $( "#sortable3" ).sortable();
    // $( "#sortable3" ).disableSelection();        
  } );
  </script>
</head>
<body>
 

<!-- <li class="ui-state-default">Item 1</li>   -->

<ul class="sortable">
    <li class="ui-state-default">
        Title
        <ul class="sortable">
            <li class="ui-state-default">Item #</li>
            <li class="ui-state-default">Item #</li>    
        </ul>        
    </li>
    <li class="ui-state-default">Item #</li>    
    <li class="ui-state-default">Item #</li>        

    <li class="ui-state-default">
        <ul class="sortable">
            <li class="ui-state-default">Item #</li>
            <li class="ui-state-default">Item #</li>    
        </ul>        
    </li>

    <li class="ui-state-default">
        <ul class="sortable">
            <li class="ui-state-default">Item #</li>
            <li class="ui-state-default">Item #</li>   
            
            <li class="ui-state-default">
                <ul class="sortable">
                    <li class="ui-state-default">Item #</li>
                    <li class="ui-state-default">Item #</li>    
                </ul>        
            </li>            

        </ul>        
    </li>


</ul>


 
</body>
</html>