<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sortable Documents</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	    

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>


	<link rel="stylesheet" href="/stylesheets/main.css">
    <style>
        .sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        .sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 10px; height: 100%; }
    </style>
 
    <script>
        $( function() {
            $( ".sortable" ).sortable({stop: updateIndex});
            $( ".sortable" ).disableSelection(); //make sortable text area unselectable    
        } );
    </script>
    
</head>
<body>
 


<!-- CONTAINER TO CONTAINS THE VARIABLE, NESTED FORM -->
<div class="container">

    <form action="/reports/<%= report.id %>/fusions" method="POST">
        <button class="btn btn-primary add-section" type="button">
            +
        </button>	

        <span>Add Section</span>

        <ul class="sortable sortable-sections"></ul>

        </ul>    

        <div class="top-padding">

            <button class="btn btn-primary">
                Save
            </button>					
        </div>

    </form>
</div>



<script src="/js/main.js"></script>

<script>

	function add_section_function(){

        //GENERATE A UNIQUE ID
        let number = $(".section").length + 1
        let text_number = 'Section '+number 

        //CREATE MARKUP SCRIPT
        let markup = `
        <li class="ui-state-default section tr-grab" id="section_`+number+`">
        
            <button class="btn btn-primary add-subsection" type="button">
                +
            </button>	        

            <span>`+text_number+`</span>

            <input class="form-control" type="text" name="`+text_number+`[name]" placeholder="name" >

            <ul class="sortable sortable-subsections">

            </ul>
        </li>
        `

        // APPEND MARKUP TO SORTABLE UL TAG
        $(".sortable-sections").append(markup)

        //GET ADD BUTTON FOR SECTION AND ADD CLICK FUNCTION TO IT
        let section_button = $("#section_"+number).children('.add-subsection')

        section_button.click(add_subsection_function);

	}
    
	function add_subsection_function(){

        let parent = $(this).parent();
        let parent_span = $(parent[0]).find("span")[0].innerText
        let text_number = 'Sub Section '+(parent.children().find('.subsection').length + 1)
        let number = $(".subsection").length + 1


        let markup = `        
        <li class="ui-state-default subsection tr-grab" id="subsection_`+number+`">
            
            <button class="btn btn-primary add-paragraph" type="button">
                +
            </button>	          
            
            <span>`+text_number+`</span>

            <input class="form-control" type="text" name="`+parent_span+`[`+text_number+`][name]" placeholder="name" >

            <ul class="sortable sortable-paragraphs">
            
            </ul>            

        </li>                
        `
        
        //GET PARENT OF BUTTON THEN FULE SORTABLE SECTION UL WITHIN CHILDREN AND APPEND MARKUP
        $(this).parent().children('.sortable-subsections').append(markup)
        let subsection_button = $("#subsection_"+number).children('.add-paragraph')
        subsection_button.click(add_paragraph_function);

        $( ".sortable" ).sortable({stop: updateIndex});
        $( ".sortable" ).disableSelection();        
	}


	function add_paragraph_function(){

        let parent = $(this).parent();
        let parent_span = $(parent[0]).find("span")[0].innerText
        let grandparent = $(parent).parents().find('.section');
        let grandparent_span = $(grandparent[0]).find("span")[0].innerText

        let text_number = 'Paragraph '+(parent.children().find('.paragraph').length + 1)      
        let number = $(".paragraph").length + 1

        let markup = `
            <li class="ui-state-default paragraph tr-grab" id="paragraph_`+number+`">
                <span>`+text_number+`</span>      

                <input class="form-control" type="text" name="`+grandparent_span+`[`+parent_span+`][`+text_number+`][name]" placeholder="name" >
            </li>                
        `
        $(this).parent().children('.sortable-paragraphs').append(markup)

        $( ".sortable" ).sortable({stop: updateIndex});
        $( ".sortable" ).disableSelection();        
	}


    // ADD THE "ADD SECTION" FUNCTION TO ANYTHING WITH THE ADD-SECTION CLASS
    $(".add-section").click(add_section_function);	
    



updateIndex = (e, ui) => {

    //LOOP THROUGH EACH SECTION, SUBSECTION AND PARAGRAPH AND RELABEL THEIR NAMES ACCORDINGLY 
    let sections = $(".section");
    // console.log(sections)

    sections.each(function (i) {

        //RELABEL SECTION
        let section_name = 'Section ' + (i + 1)
        $(this).find('span')[0].innerText = section_name
        $(this).find('input')[0].name = section_name + '[name]'

        let subsections = $(this).children().find('.subsection')

        subsections.each(function (i) {
            
        //     //RELABEL SUBSECTION
            let subsection_name = 'Sub Section ' + (i + 1)
            $(this).find('span')[0].innerText = subsection_name
            $(this).find('input')[0].name = section_name + '['+subsection_name+']'+'[name]'

            let paragraphs = $(this).children().find('.paragraph')

            paragraphs.each(function (i) {
                //RELABEL SUBSECTION
                let paragraph_name = 'Paragraph ' + (i + 1)
                $(this).find('span')[0].innerText = paragraph_name
                $(this).find('input')[0].name = section_name + '['+subsection_name+']' + '['+paragraph_name+']'+'[name]'               
            })
        })

    })
}    


</script>



 
</body>
</html>