<%- include("../partials/header") %>


<div class="container">

<header class="jumbotron">
    <div class="container">
        
        <h1>
            Admin Portal
        </h1>

    </div>
</header>

<a class="btn btn-primary btn-large" href="/admin/sections">
    Add Dynamic Report Sections
</a>

<a class="btn btn-primary btn-large" href="/admin/parameters">
    Add Dynamic Report Parameters
</a>

</div>

<%- include("../partials/footer") %>