<%- include("../partials/header") %>


<div class="container">

<header class="jumbotron">
    <div class="container">
        
        <h1>
            Admin Portal
        </h1>

    </div>
</header>

<div class="panel panel-primary">

    <div class="panel-heading">
        <h4>Core Functions</h4>
    </div>

    <div class="panel-body">
        <a href="admin/subscriptionjobs">
            Subscription Jobs
        </a>       
    </div>    

</div>

<div class="panel panel-primary">

    <div class="panel-heading">
        <h4>Items</h4>
    </div>

    <% for(const route_key in route_info){ %>

        <div class="panel-body">
            <a href="admin/<%- route_info[route_key].type.toLowerCase() %>">
                <%- route_info[route_key].type %>
            </a>       
        </div>

    <% } %>
</div>

<div class="top-padding">
    <a href="/">Go Back</a>
</div>

</div>

<%- include("../partials/footer") %>