<%- include("./partials/header") %>


<div class="container">
	
	<header class="jumbotron">
		<div class="container">
			
			<h1>
				MI Reporting Portal
			</h1>


			<p>
				Welcome to the MI Team reporting portal
			</p>

		</div>
	</header>

	
	
	
</div>


<%- include("./partials/footer") %>