<%- include("../partials/header") %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            
            <h1>
                OrgUnit SLAs
            </h1>
    
            <!-- <p>
                List of reports
            </p> -->
    
            <p>
                <a class="btn btn-primary btn-large" href="/orgunit_slas/new">
                    Add New OrgUnit
                </a>
            </p>
    
        </div>
    </header>
    

</div>

<%- include("../partials/footer") %>